<div class="col-md-6 text-right">
    <h1 style="font-size: 150px">404</h1>
</div>

<div class="col-md-6">
    <br />
    <h2>Oops! You're lost.</h2>
    <h4>We can not find the City you're looking for.</h4>
</div>
