<%= render partial: "partials/forecast_top", locals: { forecast_daily: @forecast.forecasts_daily.shift } %>

<hr />

<div class="row">
  <% @forecast.forecasts_daily.each do |f_daily| %>
    <%= render partial: "forecasts_daily/forecast_daily_container", locals: { forecast_daily: f_daily } %>
  <% end %>
</div>
